<!DOCTYPE html>
<html lang="en">
<head>
    <h1>{{ title }}</h1>
</head>

<body>
    <div>
        {% for post in posts %}
            <h3>{{ post.post_title }}</h3>
            <p><img src={{ post.image }} alt=""></p>
            <p>{{ post.full_text }}</p>
            <p>{{ post.pub_date }}</p>
        {% endfor %}
    </div>
</body>
</html>


